* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    color: rgb(24, 24, 24);
}

a:link {
    text-decoration: none;
}

.header {
    width: 100%;
    padding-top: 21%;
}

.menu {
    z-index: 100;
    top: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    z-index: -100;
    padding-top: 20px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.margen-top {
    margin-top: 2em;
}

.margen-bot {
    margin-bottom: 1em;
}

/*Inicio Fuentes*/

p,
a {
    font-size: 21px;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}
.Poppins{
    font-family: "Poppins";
}

.h1 {
    font-size: 32px;
}

.h5 {
    color: rgba(0, 0, 0, 0.62);
}

.logo {
    font-size: 7em;
    text-shadow: 0px 3px 6px #333;
}

.letra-footer {
    font-size: 16px;
}

@media (max-width: 600px) {
    .h1 {
        font-weight: 500;
        font-size: 32px;
    }
    .h5 {
        font-weight: 500;
        font-size: 1.1em;
    }
    .logo {
        font-size: 4em;
    }

    .header {
        padding-top: 70%;
    }

    .letra-footer {
        font-size: 13px;
    }
}

/*Fin Fuente*/

/*Inicio Colores*/

.fondo-rosa {
    background: rgb(198, 137, 207);
    background: linear-gradient(90deg, rgba(198, 137, 207, 0.5) 20%, rgba(179, 161, 235, 0.5) 73%);
}


.fondo-footer {
    background-color: #24023b;
}


.fondo-negro {
    background-color: rgb(24, 24, 24);
}

.fondo-hamburguesa {
    /*Una vez aplicado el js (con el menu desplegado) */
    background-color: #fff;
    color: rgb(24, 24, 24);
    padding: 5px;
}

.letra-blanca {
    color: #fff;
}

.letra-negra {
    color: rgb(24, 24, 24);
}

.color-letra-footer {
    color: #ffffff;
}

.color-letra-footer:visited :active {
    color: #ffffff;
}

.color-letra-footer:hover {
    color: rgba(113, 108, 108, 0.73);
    text-decoration: underline;
}


/*Fin Colores*/

/*Inicio Cabecera*/

.fondo-inicio {
    height: 100vh;
    background: rgb(167, 95, 181);
    background: linear-gradient(90deg, rgba(167, 95, 181, 1) 0%, rgba(231, 181, 234, 1) 50%, rgba(140, 145, 236, 1) 100%);
}

.eslogan {
    font-size: 32px;
    text-shadow: 0px 3px 6px #333;
}

.arrow {
    padding-top: 30vh;
    font-size: 42px;
    text-shadow: 0px 3px 3px #333;
}

/*Fin Cabecera*/

/* -----inicio navs-----*/

/*Pantallas pequeñas*/

.logo-peque {
    margin-top: 10px;
    line-height: 0px;
}

.aparece {
    display: none;
}

.logo-peque:visited {
    color: #ffffff;
}

.logo-peque:active {
    color: #ffffff;
}

.logo-peque:hover {
    color: #ffffff;
}

.span-nav {
    font-size: 32px;
    line-height: 0px;
    padding: 0 5px;
}

.lista {
    display: none;
    margin-right: 43px;
    margin-top: -42px;
}

.lista > ul > li:nth-child(odd) {
 background-color: rgba(219, 219, 219, 0.2);
}

/*
.lista > ul > li:nth-child(even) {
       background-color: rgba(132, 128, 128, 0.72);
}
*/

ul {
    list-style: none;
    padding: 6px;
    background-color: #fff;
}

li {
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 12px;
}

/*Pantallas Grandes*/

.logo-nav {
    color: #ffffff;
}

.logo-nav:visited :active {
    color: rgba(255, 255, 255);
}

.logo-nav:hover {
    color: rgba(255, 255, 255, 0.69);
}

.links > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 24px;
}

.a-grande {
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.a-grande:visited :active {
    color: rgba(255, 255, 255);
}

.a-grande:hover {
    color: rgba(255, 255, 255, 0.69);
}


/* -----fin navs----- */

/* -----inicio carousel----- */

.tamanyo {
    min-height: 235px;
}

@media(min-width:600px) {
    .tamanyo {
        min-height: 100px;
    }
}

.p0,
.p1,
.p2,
.p3 {
    display: none;
    text-indent: 10%;
}

.active {
    display: block;
}

.carousel-item > img {
    border-radius: 10px;
}

.scrol {
    color: rgb(24, 24, 24);
}

/*fin carousel*/

/* inicio horario*/

.centro {
    width: auto;
}

.power {
    background-color: rgba(0, 160, 234, 0.44);
}

.power:hover {
    background-color: rgba(0, 160, 235, 0.65);
}

.shameless {
    background-color: rgba(225, 45, 45, 0.55);
}

.shameless:hover {
    background-color: rgba(226, 3, 5, 0.55);
}

.hood {
    background-color: rgba(125, 202, 141, 0.7);
}

.hood:hover {
    background-color: rgba(125, 202, 161, 1);
}

.gravity {
    background-color: rgba(47, 45, 35, 0.50);
}

.gravity:hover {
    background-color: rgba(47, 45, 55, 0.70);
}

.mobster {

    background-color: rgba(237, 227, 115, 0.74);
}

.mobster:hover {

    background-color: rgba(237, 227, 115, 1);
}

.proximo {
    background-color: rgba(255, 61, 157, 0.6);
}

.proximo:hover {
    background-color: rgba(255, 61, 149, 0.70);
}

.sombra {
    box-shadow: 0 3px 6px rgba(145, 108, 150, 0.84);
}

.sombra:hover {
    box-shadow: 0 3px 20px rgba(145, 108, 150, 0.84);
    transition: 0.3s;
}

.sombra2 {
    box-shadow: 0 3px 6px #909090;
}

.animado {
    width: 300px;
}

.img-tarjeta-horario {
    width: 100%;
    padding: 20px;
    border-radius: 23px;
}

/* fin horario */

/* Inicio Galería*/

.tarjeta-3-fondo {
    background-color: rgba(211, 211, 211, 0.34);
    color: #242424;
}

.img-tarjeta-3fotos {
    width: 100%;
    padding: 20px;
    border-radius: 23px;
}

/* Fin Galería*/

/* Inicio Donde Estamos*/

.mapa {
    width: 100%;
    height: 24em;
}

/* Fin Donde Estamos*/

/*Inicio Siguenos*/

/* Facebook */

.fa-facebook {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.fa-facebook:hover {
    color: #3b5998;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

/* Instagram */

.fa-instagram {
    color: rgba(0, 0, 0, 0);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.fa-instagram:hover {
    color: #e95950;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

/* Twitter */

.fa-twitter {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.fa-twitter:hover {
    color: #55acee;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

.sangria {
    text-indent: 10%;
}

/*Fin Siguenos*/

/*Inicio Footer*/


/* Twitter */

.twit {
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.twit:hover {
    color: #55acee;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

/* Facebook */

.face {
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.face:hover {
    color: #3b5998;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

/* Instagram */

.insta {
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
}

.insta:hover {
    color: #e95950;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .84);
    transition: all 0.5s ease;
}

.flecha {
    font-size: 42px;
    text-shadow: 0px 3px 3px rgba(252, 252, 252, 0.54);
}

.pompeis {
    color: #24023b;
    font-size: 17px; 
}

.pompeis:hover {
    color: white;
}
/*Fin Footer*/